<li>
    <a href="@Url.Action("Index", "Dashboard", new { area = "admin" })">
        <span class="icon">
            <ion-icon name="home-outline"></ion-icon>
        </span>
        <span class="title">Dashboard</span>
    </a>
</li>

<li class="has-submenu">
    <a href="javascript:void(0)" class="dropdown-toggle">
        <span class="icon">
            <ion-icon name="people-outline"></ion-icon>
        </span>
        <span class="title">Manage Campaigns</span>
        <span class="arrow">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
    </a>
    <ul class="submenu">
        <li>
            <a href="/admin/manage-campaigns/index">Campaign</a>
        </li>
        <li><a href="@Url.Action("Analytics", "Manage_Campaigns", new { area = "admin" })">Analytics</a></li>
        <li><a href="@Url.Action("Reports", "Manage_Campaigns", new { area = "admin" })">Reports</a></li>
    </ul>
</li>

<li class="has-submenu">
    <a href="javascript:void(0)" class="dropdown-toggle">
        <span class="icon">
            <ion-icon name="wallet-outline"></ion-icon>
        </span>
        <span class="title">Investments</span>
        <span class="arrow">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
    </a>
    <ul class="submenu">
        <li><a href="@Url.Action("Pending", "Investments", new { area = "admin" })">Pending</a></li>
        <li><a href="@Url.Action("Completed", "Investments", new { area = "admin" })">Completed</a></li>
        <li><a href="@Url.Action("Refunds", "Investments", new { area = "admin" })">Refunds</a></li>
        <li><a href="@Url.Action("Index", "Transactions", new { area = "admin" })">Thống kê giao dịch</a></li>
    </ul>
</li>

<li class="has-submenu">
    <a href="javascript:void(0)" class="dropdown-toggle">
        <span class="icon">
            <ion-icon name="people-circle-outline"></ion-icon>
        </span>
        <span class="title">Users</span>
        <span class="arrow">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
    </a>
    <ul class="submenu">
        <li><a href="@Url.Action("Index", "KycManagement", new { area = "admin" })">KYC Management</a></li>
        <li><a href="@Url.Action("Blocked", "Users", new { area = "admin" })">Blocked Users</a></li>
    </ul>
</li>

<li>
    <a href="@Url.Action("Index", "Messages", new { area = "admin" })">
        <span class="icon">
            <ion-icon name="chatbubble-outline"></ion-icon>
        </span>
        <span class="title">Messages</span>
    </a>
</li>

<li class="has-submenu">
    <a href="javascript:void(0)" class="dropdown-toggle">
        <span class="icon">
            <ion-icon name="help-buoy-outline"></ion-icon>
        </span>
        <span class="title">Support Tickets</span>
        <span class="arrow">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
    </a>
    <ul class="submenu">
        <li><a href="@Url.Action("Index", "Support", new { area = "admin", scope = "inbox" })">Hộp thư</a></li>
        <li><a href="@Url.Action("Index", "Support", new { area = "admin", scope = "unassigned" })">Chưa giao</a></li>
        <li><a href="@Url.Action("Index", "Support", new { area = "admin", scope = "sla-risk" })">Cảnh báo SLA</a></li>
    </ul>
</li>

<li class="has-submenu">
    <a href="javascript:void(0)" class="dropdown-toggle">
        <span class="icon">
            <ion-icon name="settings-outline"></ion-icon>
        </span>
        <span class="title">Settings</span>
        <span class="arrow">
            <ion-icon name="chevron-down-outline"></ion-icon>
        </span>
    </a>
    <ul class="submenu">
        <li><a href="@Url.Action("General", "Settings", new { area = "admin" })">General</a></li>
        <li><a href="@Url.Action("Security", "Settings", new { area = "admin" })">Security</a></li>
        <li><a href="@Url.Action("Notifications", "Settings", new { area = "admin" })">Notifications</a></li>
        <li><a href="@Url.Action("Blockchain", "Settings", new { area = "admin" })">Blockchain</a></li>
        <li><a href="@Url.Action("Index", "StaffManagement", new { area = "Admin" })">Quản lý Nhân viên</a></li>
    </ul>
</li>

<li>
    <a href="@Url.Action("Help", "Support", new { area = "admin" })">
        <span class="icon">
            <ion-icon name="help-outline"></ion-icon>
        </span>
        <span class="title">Help & Support</span>
    </a>
</li>

<li>
    <a href="@Url.Action("Logout", "Account", new { area = "" })">
        <span class="icon">
            <ion-icon name="log-out-outline"></ion-icon>
        </span>
        <span class="title">Sign Out</span>
    </a>
</li>